// Color palette
$light-green: #7ca363;
$light-grey: #f2f2f2;
$silver-grey: #c0c0c0;
$dark-green: #4e7e61;
$background-color: $light-grey;

// Fonts
$font-family: "Montserrat", Arial, Helvetica, sans-serif;
$title-medium: 0.9rem;

// Window size
$min-width: 950px;
