// Color palette
$light-green: #7ca363;
$light-grey: #d3d3d3;
$silver-grey: #c0c0c0;
$dark-green: #4e7e61; // rgb(97, 126, 78);
$background-color: $light-grey;

// Fonts
$font-family: "Montserrat", Arial, Helvetica, sans-serif;
$title-medium: 0.9rem;
